.logo {
  > a:hover, a:visited, a:link, a:active
  {
      text-decoration: none;
  }
}
.book-list {
  list-style: none;
  padding: 0;
  > li {
    margin-bottom: 4rem;
    > div {
      display: flex;
      > div {
        margin-bottom: .5rem;
      }
    }
  }
}


.book-cover {
  width: 100px;
  height: 150px;
  margin-right: 1em;
}

.post-tags-inline {
  font-size: 1.4rem;
  font-weight: 800;
}

.post-tag {
  font-style: italic;
  font-size: 1.4rem;
  padding: .5rem;
}

.post-category {
  font-style: italic;
  font-size: 1.4rem;
  padding: .5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
}