<!-- Keep - override to add code to <header /> tag -->

{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ . | absURL }}" />
{{- end }} {{ range .Site.Params.syntaxCSS -}}
<link rel="stylesheet" href="{{ . | absURL }}" />
{{- end }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-QG595WTNMF"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-QG595WTNMF");
</script>
