{{ define "main" }}

<h1>About</h1>

{{ $greeting := "Hi! I'm Deepak :pray:" }}
<p>
  {{ emojify $greeting }}
</p>

<p>This is my online space where I collect and reflect on an array of topics. These include <a href="/books">Books</a>, <a href="/categories/technology">Technology</a>, and life in general. </p>
<p>To know more about me and this website, visit my <a href="/about">About</a> page. </p>
<br/>

<h1>Latest blog posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/blog" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ emojify .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
<a href="/blog">More Posts...</a>
</div>

<hr />

<div>
    <div>
        <h1>Categories</h1>
        <ul>
        {{ range $key, $value := .Site.Taxonomies.categories }}
            <li><a href="{{ "/categories/" }}{{ $key }}" style="text-transform: capitalize;">{{ $key }}</a> </li>
        {{ end }} 
        </ul>
    </div>

    <div>
    <h1>Tags</h1>
    <!-- <ul> -->
    <!-- {{ range $key, $value := .Site.Taxonomies.tags }} -->
    <!--     <li><a href="{{ "/tags/" }}{{ $key }}" style="text-transform: capitalize;">{{ $key }}</a> </li> -->
    <!-- {{ end }} -->
    <!-- </ul> -->

    {{ if ne (len $.Site.Taxonomies.tags) 0 }}
      {{ $largestFontSize := 1.4 }}
      {{ $smallestFontSize := 1.0 }}
      {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
      {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
      {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
      {{ $spread := sub $max $min }}
      {{ $fontStep := div $fontSpread $spread }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          {{ $tagCount := len $taxonomy.Pages }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
          {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}" 
            class="tagcloud-item" style="font-size: {{ $currentFontSize }}rem;">
              {{ $name }}<sup>{{ $tagCount }}</sup>
            </a>
        {{ end }}
    {{ end }}
    </div>

</div>
<!-- <h1>Latest posts</h1> -->

<!-- <div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div> -->

<!-- <h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div> -->

{{ end }}
