{% extends "index.html" %}

{% block content %}
<h2>Blog</h2>

{% set section = get_section(path="blog/_index.md") %}
<div class="section">
  <ul>
    {%- for page in section.pages %} {%- if page.draft %} {% continue %} {% endif -%}
    <li style="margin-bottom: 1rem;">
      <div>
        <a href="{{ page.permalink | safe }}">
          <span>{{ page.date }}</span> - 
          <span>{{ page.title }}</span>
        </a>
      </div>
      {{ post_macros::tags(page=page, short=true) }}
    </li>
    {% endfor -%}
  </ul>
</div>
{% endblock content %}

