{% import "macros/date.html" as date_macros -%}
{% import "macros/head.html" as head_macros -%}
{% import "macros/menu.html" as menu_macros -%}
{% import "macros/post.html" as post_macros -%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{%- block title %}{{ config.title }}{% endblock title -%}</title>
    <link rel="stylesheet" href="/tufte.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <h1 class="logo">
        {%- if config.logo_home_link %}
            {% set logo_link = config.logo_home_link %}
        {% else %}
            {% set logo_link = config.base_url %}
        {% endif -%}
        
        <a href="{{ logo_link | safe }}" class="logo-link">
        {%- if config.extra.logo_text %}
            {{ config.extra.logo_text }}
        {% else %}
            Logo Text
        {% endif -%}
        </a>
      </h1>
    </header>


    <main style="margin-top: 3rem; margin-bottom: 3rem;">
    {% block content %}

      <div>
        <p>Hi! I'm Deepak</p>
        <p>
          This is my online space which you can think of as a hybrid of <a href="/blog">blog</a> and digital garden. For me, it is my thinking tool.
        </p>
        <p>
          Some of my interest are <a href="/library">Books</a>, Technology, <a href="/photography">Photography</a>
        </p>
        <p>
          This website is a personal project which will forever remain under construction.
        </p>
        <p>
          To know more about me, you can visit my <a href="/about">About</a> page. To find out more 
        </p>

      </div>

      <h2>Pages on this website</h2>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/micro-thoughts">Micro Thoughts</a></li>
        <li><a href="/photography">Photopgraphy</a></li>
        <li><a href="/setup">Setup</a></li>
        
      </ul>

    {% endblock content %}
    </main>


    {% block footer %}
    <footer class="footer">
        <div class="footer__inner">
            {%- if config.extra.copyright_html %}
                <div class="copyright copyright--user">{{ config.extra.copyright_html | safe }}</div>
            {% else %}
                <div class="copyright">
                    {%- if config.extra.author %}
                        <span>© {{ date_macros::now_year() }} {{ config.extra.author }}</span>
                    {% else %}
                        <span>© {{ date_macros::now_year() }} Powered by <a href="https://www.getzola.org/">Zola</a></span>
                    {% endif -%}
                </div>
            {% endif -%}
        </div>
    </footer>
    {% endblock footer %}
  </body>
</html>
