{% import "macros/date.html" as date_macros -%}
{% import "macros/head.html" as head_macros -%}
{% import "macros/menu.html" as menu_macros -%}
{% import "macros/post.html" as post_macros -%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/tufte.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1 class="logo">
    {%- if config.logo_home_link %}
        {% set logo_link = config.logo_home_link %}
    {% else %}
        {% set logo_link = config.base_url %}
    {% endif -%}
    
    <a href="{{ logo_link | safe }}" style="text-decoration: none;">
    {%- if config.extra.logo_text %}
        {{ config.extra.logo_text }}
    {% else %}
        Logo Text
    {% endif -%}
    </a>
    </h1>


    <div style="margin-top: 4rem;">
    {% block content %}

      <div>
        <p>Hi! I'm Deepak</p>
        <p>
          This is my online space which you can think of as a hybrid of <a href="/blog">blog</a> and digital garden. For me it is my thinking tool.
        </p>
        <p>
          Some of my interest are <a href="/library">Books</a>, Technology, Photography
        </p>
        <p>
          This website is a personal project which will forever remain under construction.
        </p>
        <p>
          To know more about me, you can visit my <a href="/about">About</a> page. To find out more 
        </p>

      </div>


    {% endblock content %}
    </div>
  </body>
</html>
